<!DOCTYPE html>
<html lang="en">
<head>
  <title>Practice rails</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "welcome", media: "all" %>
  <%= yield :css_load %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">
  <%= render 'layouts/header' %>
  <%= render 'layouts/menu' %>
  <div class="content">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :js_load %>
</body>
</html>

