<!DOCTYPE html>
<html lang="en">
<head>
    <%= render 'layouts/head' %>
</head>
<body id="page-top" class="index">
    <%= render 'layouts/header' %>
    <%= render 'layouts/menu' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
<%= javascript_include_tag 'welcome' %>
</body>
</html>

